main {
    min-height: calc(100vh - 140px);
}
.hero {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #fff7f5;
}
.hero-content {
    max-width: 700px;
    text-align: center;
}
.hero-subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ff7aa2;
    font-weight: 600;
}
.hero-title {
    margin: 0;
    font-size: 64px;
    color: #1e1e2f;
}
.hero-description {
    margin: 20px 0 30px;
    font-size: 20px;
    line-height: 1.5;
    color: #555;
}
.hero-button {
    padding: 14px 28px;
    background-color: #ff7aa2;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #ff5c8a;
}

.services {
    padding: 70px 20px;
    background-color: #ffffff;
    text-align: center;
}

.services-title {
    margin-bottom: 40px;

    font-size: 36px;
    color: #1e1e2f;
}

.services-list {
    display: flex;
    justify-content: center;
    gap: 25px;

    flex-wrap: wrap;
}

.services-card {
    width: 280px;
    padding: 30px 20px;

    background-color: #fff7f5;
    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.30);
    transition: transform 0.3s;
}

.services-card:hover {
    transform: translateY(-8px);
}

.services-card h3 {
    margin-bottom: 15px;

    color: #ff7aa2;
    font-size: 24px;
}

.services-card p {
    color: #555;
    line-height: 1.5;
}


.about {
    padding: 80px 20px;
    background-color: #ffffff;
}

.about-content {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex:1;
}

.section-subtitle {
    margin-bottom: 10px;

    color: #ff7aa2;
    font-size: 18px;
    font-weight: 600;
}

.about-text h2 {
    margin-bottom: 20px;

    color: #1e1e2f;
    font-size: 38px;
}

.about-text p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

.about-card {
    flex: 1;

    padding: 35px;
    background-color: #fff7f5;
    border-radius: 24px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.about-card h3 {
    margin-bottom:20px;

    color: #1e1e2f;
    font-size:26px;
}

.about-card ul {
    padding-left: 20px;
}

.about-card li {
    margin-bottom:12px;

    color: #555;
    font-size: 17px;
}

@media (max-width: 768px) {
    main {
        min-height: auto;
    }

    .hero {
        min-height: 60vh;
        padding: 50px 20px;
    }

    .hero-title {
        font-size: 44px;
    }

    .hero-description {
        font-size: 18px;
    }
    
    .about {
        padding: 60px 20px;
    }

    .about-content {
        flex-direction: column;
        gap: 30px;
    }

    .section-subtitle {
        font-size: 16px;        
    }

    .about-text h2 {
        font-size: 32px;
    }

    .about-text p {
        font-size: 16px;
    }

    .about-card {
        width: 100%;
        padding: 28px;
    }

    .about-card h3 {
        font-size: 24px;
    }

    .about-card li {
        font-size: 24px;
    }

    .services {
        padding: 60px 20px;
    }

    .services-title {
        font-size: 32px;
    }

    .services-card {
        width: 100%;
        max-width: 350px;
    }
}


@media (max-width: 480px) {
  .hero-title {
    font-size: 36px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-button {
    width: 100%;
    max-width: 280px;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .services-title {
    font-size: 28px;
  }
}